@model app_web_backend.Models.Genero

@{
    ViewData["Title"] = "Delete";
}


<h3 class="text-light pt-5">Têm certeza que você deseja excluir esse gênero?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a class="text-info" asp-action="Index">Voltar para a lista de gêneros</a>
    </form>
</div>
