@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/InicialPage.css">



<div class="conteudo">

    <div class="box-Title">
        <h1>Crie sua própria lista <br> de animes!</h1>
    </div>


    <div class="posteresAnimes" id="posteresAnimes ">
        <img id="exibiPosteresAnime" class="imgT" src="img/mini-1.jpg" alt="Pôster do Anime" onclick="window.location.href='./AnimePage.html'">
        <img class="imgT" src="Img/mini-10.jpg" alt="Pôster do Anime">
        <img class="imgT" src="Img/mini-2.jpg" alt="Pôster do Anime">
        <img class="imgT" src="Img/mini-3.jpg" alt="Pôster do Anime">
        <img class="imgT" src="Img/mini-4.jpg" alt="Pôster do Anime">
        <img class="imgT" src="Img/mini-5.jpg" alt="Pôster do Anime">
        <img class="imgT" src="Img/mini-6.jpg" alt="Pôster do Anime">
        <img class="imgT" src="Img/mini-7.jpg" alt="Pôster do Anime">
        <img class="imgT" src="Img/mini-8.jpg" alt="Pôster do Anime">
        <img class="imgT" src="Img/mini-9.jpg" alt="Pôster do Anime">
        <!-- <img class="imgT" src="Img/mini-10.jpg" alt="Pôster do Anime"> -->
    </div>
</div>