body{
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    background-color: #09005c;
}

a {
    text-decoration: none;
    color: #efebe2;
}

.div-login{
    width: 28em;
    height: 24em;
    margin: 4em auto;
    background-color:#110a42;
    text-align: center;
    padding-top: 4em;
	border-radius: 10px;	
}

input {
    border: #7362e7 solid 3px;
    background-color: transparent;
    border-radius: 30px; 
    width: 16em;
    height: 3em;
    margin: 5px 0;
    padding: 0 5px;
    color: #fff ;
    text-align:center ;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;   
}

input::placeholder {
    color: #efebe2;
    text-align: center;
}

a {
    text-decoration: none;
    color: #efebe2;
}

.acessarButton{
    border: #7362e7 solid 3px;
    background-color: transparent;
    border-radius: 30px; 
    width: 16em;
    height: 3em;
    padding: 0 5px;
    color: #fff ;
    font-size: 11pt;    
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

button:hover{
    border: #5d49e2 solid 5px;
}

/* tela em Smartphone */

@media screen and (max-width:400px) {
   
    .div-login {
        width: 15em;
        height: 17em;
        margin: 8em auto;
        padding: 2em 1em;
        background-color:#110a42;
        text-align: center;
        border-radius: 10px;
    }

    input {
        border: #7362e7 solid 3px;
        background-color: transparent;
        border-radius: 30px;
        width: 12em;
        height: 2em;
        margin: 8px 0;
        padding: 0 5px;
        color: #fff ;
        text-align:center ;
        font-family: 'Open Sans', sans-serif;
        font-size: 11pt;  
    }

    input::placeholder {
        color: #efebe2;
        text-align: center;
    }

    .acessarButton{       
            border: #7362e7 solid 3px;
            background-color: transparent;
            border-radius: 30px; 
            width: 8em;
            height: 2em;
            padding: 0 5px;
            color: #fff ;
            font-size: 11pt;    
            font-family: 'Open Sans', sans-serif;
            cursor: pointer;    
    }
}