body {font-family: 'Open Sans', sans-serif;}

main {background: linear-gradient(to bottom, #05056d 0%, #ffffff 75%);}

header{background-color: rgb(5, 5, 109);}

.conteudo { 
    margin: 0 auto; 
    width: 90%; 
    text-align: center;
}

.imgT{margin: 4px; border-radius:8px ;}

.box-Title { 
    color: #ffffff; 
    margin: 0 auto;
    padding: 32px;   
}

#navbarNavDropdown {
    position: relative; 
    justify-content: end;
}

.searchBar {
    width: 32em;
    height: 2em;
    border: none;
    border-radius:5px;
    background: #D9DCDF;
    font-family: 'Open Sans', sans-serif;
    text-align: center;   
}

.searchButton {
    position: absolute;
    margin-left: 4px;
    height: 2em;
    border: none;
    background: #D9DCDF;
    border-radius: 5px;
    cursor: pointer;
}

.div-search-header{text-align: center;}

 @media screen and (max-width:702px) {
     .searchBar{width: 16em;}
 }
 @media screen and (max-width:300px) {
    .searchBar{width: 10em;}
}